@import "styles/variables.css";
@import "styles/animations.css";
@import "styles/navbar.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  min-width: 350px;
  color: var(--on-navgroup);
  background-color: var(--navgroup-bg);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1rem;
}

body::-webkit-scrollbar {
  display: none;
}

d-none {
  display: none !important;
}

h1 h2 h3 {
  color: var(--info-on-title);
}

h1 {
  text-align: center;
}

pre {
  width: auto;
  overflow: auto;
}

svg {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 3px;
  fill: var(--info-on-title);
  transition: 0.3s;
}

button svg {
  fill: var(--on-navgroup);
}

.buttons *:not(a) {
  margin: 2px;
}

img {
  margin: 20px;
  max-width: -webkit-fill-available;
  transition: 0.3s;
}

a {
  transition: 0.3s;
  text-decoration: none;
  color: #2f80ed;
}

a:hover {
  text-shadow: 0px 0px 10px #2f80ed;
}

a:hover svg {
  filter: drop-shadow(0px 0px 10px rgb(47 128 237));
}

a p {
  text-decoration: none;
  text-shadow: none;
  color: var(--on-navgroup);
}

a img:hover {
  box-shadow: 0px 0px 10px #2f80ed;
}

button {
  border: none;
  cursor: pointer;
  color: var(--on-navgroup);
  background-color: var(--navgroup-bg);
}

header,
footer {
  font-family: 'Lexend Zetta', sans-serif;
  background-color: var(--navgroup-bg);
  text-align: center;
  z-index: 2;
}

header {
  padding-bottom: 30px;
}

header div,
footer div {
  display: inline-flex;
}

header div div,
footer div div {
  text-align: center;
  display: inline-block;
  margin: 0px 10px;
}

.main {
  padding: 10px;
  margin: 0px 40px;
}

.box {
  background-color: var(--navgroup-bg);
  transition: 0.3s;
  padding: 2.5rem;
  padding-bottom: 2rem;
  margin: 1rem;
  border-radius: 2rem;
}

.box h2 {
  margin-top: 0rem;
}

.box a button:hover {
  text-shadow: 0px 0px 10px #2f80ed;
  box-shadow: none;
}

a .box {
  padding-bottom: 25px;
}

.box div {
  margin: 5px;
}

.stats span {
  display: inline-block;
  margin-right: 10px;
}

.stats a {
  color: var(--on-navgroup);
}

.stats a:hover {
  color: #2f80ed;
}

table {
  border: 2px solid var(--on-navgroup);
  border-collapse: collapse;
  margin: 30px;
}

th {
  border: 2px solid var(--on-navgroup);
  text-align: center;
  padding: 5px;
}

td {
  border: 1px solid var(--on-navgroup);
  text-align: left;
  padding: 5px;
}

.hiddenUp {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: all 0.5s;
}

.hiddenDown {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 0.5s;
}

.hiddenLeft {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.5s;
}

.hiddenRight {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 0.5s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transform: translateY(0);
}


.anb {
  margin: 0px;
  width: auto;
  display: inline-flex;
  animation: decwidth 0.3s ease-in;
  animation-fill-mode: forwards;
}

.anb svg {
  fill: var(--on-navgroup);
}

.anbtxt {
  overflow: hidden;
  padding: 8px 0px;
  opacity: 0%;
  animation: hide 0.3s ease-in;
  animation-fill-mode: forwards;
  color: var(--on-navgroup);
}

a:hover .anb {
  animation: incwidth 0.3s ease-in;
  animation-fill-mode: forwards;
}

a:hover .anb .anbtxt {
  animation: show 0.3s ease-in;
  animation-fill-mode: forwards;
}
