@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/octicons-css/octicons.min.css");
@import "bootstrap/main";
@import "custom";
@import "styles/navbar";
@import "styles/classes";
@import "styles/fonts";

* {
    transition-property: background-color;
    transition-duration: 0.3s;
}

.overflow-x-clip {
    overflow-x: clip;
}

.overflow-y-clip {
    overflow-y: clip;
}

.overflow-clip {
    overflow: clip;
}

.octicon::before {
    font-weight: inherit !important;
}

html,
body {
    @extend .overflow-x-clip;
}

.card {
    @extend .p-3;

    .card-body {
        @extend .p-0;
        @extend .m-2;
    }

    .card-stats {
        @extend .d-flex;
        @extend .flex-wrap;
        @extend .justify-content-start;
        @extend .align-items-center;

        > * {
            @extend .d-flex;
            @extend .align-items-center;
            @extend .justify-content-start;
            @extend .pe-2;
        }
    }

    &.repo,
    &.gist {
        @extend .container-sm;
        @extend .p-sm-4;
        @extend .rounded-5;
        @extend .border-0;
        @extend .bg-primary-subtle;
        @extend .shadow;
        @extend .m-2;
        max-width: 700px;


        a {
            @extend .text-decoration-none;
        }
    }

    &.gist {
        float: right;
    }
}

#repos-container,
#gists-container {
    ol,
    ul {
        @extend .list-group;

        li {
            @extend .list-group-item;
            @extend .border-0;
            @extend .bg-transparent;
            @extend .px-0;
            @extend .px-sm-2;
            @extend .px-md-4;

        }
    }
}

.change-theme {
    width: 2.5rem;
    height: 2.5rem;
}

button:hover .material-symbols-rounded {
    font-variation-settings: "FILL" 1;
}

a {
    @extend .text-decoration-none;

    .img-box img {
        transition: transform 0.5s ease-out;
    }

    .shadow-box {
        box-shadow:
            -5px -5px 10px var(--bs-success),
            5px -5px 10px var(--bs-primary),
            5px 5px 10px var(--bs-warning),
            -5px 5px 10px var(--bs-info);
        transition:
            box-shadow,
            transform 0.3s ease;
    }

    &:hover {
        .img-box img {
            transform: scale(1.1);
        }

        .shadow-box {
            box-shadow:
                -5px -5px 20px var(--bs-success),
                5px -5px 20px var(--bs-primary),
                5px 5px 20px var(--bs-warning),
                -5px 5px 20px var(--bs-info);
            animation: rotate-shadow 1s infinite 0.3s;
        }
    }
}

.img-box img {
    animation: zoom-in linear;
    animation-timeline: view();
    animation-range: contain 40% cover 100%;
}

@keyframes zoom-in {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}

@keyframes rotate-shadow {
    0%,
    100% {
        box-shadow:
            -5px -5px 20px var(--bs-success),
            5px -5px 20px var(--bs-primary),
            5px 5px 20px var(--bs-warning),
            -5px 5px 20px var(--bs-info);
    }

    25% {
        box-shadow:
            -5px -5px 20px var(--bs-info),
            5px -5px 20px var(--bs-success),
            5px 5px 20px var(--bs-primary),
            -5px 5px 20px var(--bs-warning);
    }

    50% {
        box-shadow:
            -5px -5px 20px var(--bs-warning),
            5px -5px 20px var(--bs-info),
            5px 5px 20px var(--bs-success),
            -5px 5px 20px var(--bs-primary);
    }

    75% {
        box-shadow:
            -5px -5px 20px var(--bs-primary),
            5px -5px 20px var(--bs-warning),
            5px 5px 20px var(--bs-info),
            -5px 5px 20px var(--bs-success);
    }
}

.wrapper {
    @extend .d-block;
    width: fit-content;

    .typing-demo {
        @extend .font-monospace;
        @extend .overflow-hidden;
        @extend .text-nowrap;
        width: 16ch;
        animation:
            typing 0s linear 0s 0 normal forwards,
            typing 2s steps(16) 0.5s 1 normal forwards,
            blink 1s linear 2.5s 5 normal forwards;
        border-right: 2px solid;
    }
}

.enter-left,
.exit-left {
    transform-origin: 0% 50%;
}

.enter-right,
.exit-right {
    transform-origin: 100% 50%;
}

.scale-in-out-center,
.scale-in-out-left,
.scale-in-out-right {
    animation: scale-in-out linear;
    animation-timeline: view();
}

.scale-out-in-center,
.scale-out-in-left,
.scale-out-in-right {
    animation: scale-out-in linear;
    animation-timeline: view();
}

.scale-out-in-center,
.scale-in-out-center {
    transform-origin: 50% 50%;
}

.scale-out-in-left,
.scale-in-out-left {
    transform-origin: -20% 50%;
}

.scale-out-in-right,
.scale-in-out-right {
    transform-origin: 120% 50%;
}

@keyframes scale-in-out {
    0%,
    100% {
        transform: scale(0.5);
    }

    40%,
    60% {
        transform: scale(1);
    }
}

#repos-container {
    & > ol > li,
    & > ul > li {
        @extend .scale-in-out-left;
    }
}

#gists-container {
    & > ol > li,
    & > ul > li {
        @extend .scale-in-out-right;
    }
}

.scale-out-center {
    animation: scale-out linear both;
    animation-timeline: view();
    animation-range: cover 50% cover 80%;
}

@keyframes scale-out {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes scale-out-in {
    0%,
    100% {
        transform: scale(1.5);
    }

    40%,
    60% {
        transform: scale(1);
    }
}

.slide-out-left {
    animation: slide-left linear both;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}

.slide-out-right {
    animation: slide-left linear reverse both;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}

@keyframes slide-left {
    from {
        transform: translateX(10vh);
    }

    to {
        transform: translateX(-10vh);
    }
}

.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.horizontal-scroll-sticky-wrap {
    @extend .clearfix;
    position: sticky;
    top: 0;
}

.horizontal-scroll-section,
.horizontal-scroll-section-left,
.horizontal-scroll-section-right {
    position: absolute;
    will-change: transform;
    display: flex;
}

.horizontal-scroll-section {
    justify-content: space-between;
}

.horizontal-scroll-section-left,
.horizontal-scroll-section-right {
    width: 100vh;
}

.horizontal-scroll-section-left {
    justify-content: flex-end;
    right: 50%;
}

.horizontal-scroll-section-right {
    justify-content: flex-start;
    left: 50%;
}

.horizontal-scroll-contents {
    width: max-content;
}

.transform-origin-left {
    transform-origin: 0% 50%;
}

.transform-origin-right {
    transform-origin: 100% 50%;
}

/* INVERTED ROUNDED CORNERS MASKS */
:root {
    --topleft-mask: radial-gradient(2rem at 100% 100%, #0000 100%, #000);
    --topright-mask: radial-gradient(2rem at 0 100%, #0000 100%, #000);
    --bottomleft-mask: radial-gradient(2rem at 100% 0, #0000 100%, #000);
    --bottomright-mask: radial-gradient(2rem at 0 0, #0000 100%, #000);
    --logo-mask: url("../res/img/logoMask.svg");
}

.inverted-topleft-corner,
.inverted-topright-corner,
.inverted-bottomleft-corner,
.inverted-bottomright-corner,
.bottomedge,
.topedge,
.leftedge,
.rightedge {
    position: relative;
    margin: 0rem;
}

.inverted-topleft-corner,
.inverted-topright-corner,
.inverted-bottomleft-corner,
.inverted-bottomright-corner {
    width: 2rem;
    height: 2rem;
}

.inverted-topleft-corner,
.inverted-topright-corner,
.topedge,
.leftedge,
.rightedge {
    top: 0;
}

.inverted-bottomleft-corner,
.inverted-bottomright-corner,
.bottomedge {
    bottom: 0;
}

.inverted-topleft-corner {
    left: 1rem;
    -webkit-mask: var(--topleft-mask);
    mask: var(--topleft-mask);
    margin-bottom: -2rem;
}

.inverted-topright-corner {
    float: right;
    right: 1rem;
    -webkit-mask: var(--topright-mask);
    mask: var(--topright-mask);
    margin-bottom: -2rem;
}

.inverted-bottomleft-corner {
    left: 1rem;
    -webkit-mask: var(--bottomleft-mask);
    mask: var(--bottomleft-mask);
}

.inverted-bottomright-corner {
    float: right;
    right: 1rem;
    -webkit-mask: var(--bottomright-mask);
    mask: var(--bottomright-mask);
    margin-top: -2rem;
}

.topedge {
    height: 3.6rem;
    width: 100%;
    left: 0rem;
}

.bottomedge {
    height: 1rem;
    width: 100%;
    left: 0rem;
}

.leftedge,
.rightedge {
    height: 100vh;
    width: 1rem;
    top: 0rem;
}

.below-nav {
    z-index: 1000;
}

header, footer {
    position: relative;
    z-index: 1000;
}

.leftedge {
    float: left;
}

.rightedge {
    float: right;
}

.layer {
    animation: scale-in linear forwards;
    animation-timeline: view();
}

.layer-0 {
    animation-range: cover 0% cover 20%;
}

.layer-1 {
    animation-range: cover 0% cover 40%;
}

.layer-2 {
    animation-range: cover 0% cover 60%;
}

@keyframes scale-in {
    0%,
    40% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.bg-animated-text,
.bg-scroll-animated-text {
    color: rgba(225, 225, 225, 0.01);
    background: linear-gradient(
        to right,
        var(--bs-danger),
        var(--bs-warning),
        var(--bs-success),
        var(--bs-info),
        var(--bs-primary),
        var(--bs-danger),
        var(--bs-warning),
        var(--bs-success),
        var(--bs-info),
        var(--bs-primary),
        var(--bs-danger)
    );
    background-size: 200% auto;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
}

.bg-animated-text {
    animation: textShine 2s ease-in-out infinite;
}

.bg-scroll-animated-text {
    animation: textShine;
    animation-timeline: view();
}

@keyframes textShine {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

@keyframes show {
    0% {
        text-indent: -20ch;
    }

    100% {
        text-indent: 1ch;
    }
}

@keyframes hide {
    0% {
        text-indent: 1ch;
    }

    100% {
        text-indent: -20ch;
    }
}

[data-tilt] {
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.layer-25 {
    transform: translateZ(25px);
}

.layer-50 {
    transform: translateZ(50px);
}

.layer-75 {
    transform: translateZ(75px);
}

.layer-100 {
    transform: translateZ(100px);
}

.circle {
    position: fixed;
    pointer-events: none;
    z-index: 2000;

    > div {
        pointer-events: none;
        background-color: var(--bs-body-color);
        box-shadow: 0 0 6px var(--bs-body-color);
        border-radius: 50%;
        height: 16px;
        width: 16px;
        @extend .opacity-75;
        transition:
            width 0.3s,
            height 0.3s,
            border-radius 0.3s,
            opacity 0.3s,
            background-color 0.3s;

        &.big {
            @extend .opacity-25;
        }
    }
}

.wobbly-button {
    transition: transform 0.2s;

    &:not(:hover) {
        transform: translate(0, 0) !important;
    }
}

.scroll-banner-left {
    animation: scroll-banner linear;
    animation-timeline: view();
}

.scroll-banner-right {
    animation: scroll-banner linear reverse;
    animation-timeline: view();
}

@keyframes scroll-banner {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-300vh);
    }
}