.anb {
    display: inline-flex;

    .anbtxt {
        overflow: hidden;
        animation: hide 0.3s ease-in forwards;
    }
}

a:hover .anb .anbtxt {
    animation: show 0.3s ease-in forwards;
}

@keyframes show {
    0% {
        text-indent: -20ch;
    }

    100% {
        text-indent: 1ch;
    }
}

@keyframes hide {
    0% {
        text-indent: 1ch;
    }

    100% {
        text-indent: -20ch;
    }
}