.anb {
    width: auto;
    display: inline-flex;
    animation: decwidth 0.3s ease-in;
    animation-fill-mode: forwards;
}
  
.anbtxt {
    overflow: hidden;
    padding: 8px 0px;
    opacity: 0%;
    animation: hide 0.3s ease-in;
    animation-fill-mode: forwards;
}
  
a:hover .anb {
    animation: incwidth 0.3s ease-in;
    animation-fill-mode: forwards;
}
  
a:hover .anb .anbtxt {
    animation: show 0.3s ease-in;
    animation-fill-mode: forwards;
}

@keyframes show {
    0% {
        padding: 8px 0px;
        opacity: 0%;
        text-indent: -400px;
    }
  
    100% {
        padding: 8px;
        opacity: 100%;
        text-indent: 0px;
    }
}
  
@keyframes hide {
    0% {
        padding: 8px;
        opacity: 100%;
        text-indent: 0px;
    }
  
    100% {
        padding: 8px 0px;
        opacity: 0%;
        text-indent: -400px;
    }
}