.content {
    border-radius: 2rem;
    transition: 0.3s;
}

.box {
    border-radius: 2rem;
    margin: 1rem;
    padding: 2rem;
    background-color: var(--bs-primary-bg-subtle);
    border: none;
    transition: 0.3s;
}

.card-link {
    color: var(--text-body);
    font-family: 'JetBrains Mono', monospace !important;
}

.ff-mono {
    font-family: 'JetBrains Mono', monospace !important;
}

button.active:hover,
button.activetab:hover {
    cursor: default;
}

.hiddenUp {
    transition: transform 0.5s ease;
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
}

.hiddenDown {
    transition: transform 0.5s ease;
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
}

.hiddenLeft {
    transition: transform 0.5s ease;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
}

.hiddenRight {
    transition: transform 0.5s ease;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
}

.hiddenY {
    transition: transform 0.5s ease;
    transform: scaleY(0);
}

.hiddenX {
    transition: transform 0.5s ease;
    transform: scaleX(0);
}

.shown {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transform: translateY(0);
}

.shrunk {
    transition: transform 0.5s ease;
    transform: scale(0);
}

.expanded {
    transform: scale(1);
}

.content ol {
    margin: 0rem;
    padding: 0.01rem 0rem;
    list-style-type: none;
}

.change-theme {
    width: 2.5rem;
    height: 2.5rem;
}

.change-theme:hover .material-symbols-rounded {
    font-variation-settings: 'FILL' 1;
}

/* INVERTED ROUNDED CORNERS MASKS */
:root {
    --topleft-mask: radial-gradient(2rem at 100% 100%, #0000 100%, #000);
    --topright-mask: radial-gradient(2rem at 0 100%, #0000 100%, #000);
    --bottomleft-mask: radial-gradient(2rem at 100% 0, #0000 100%, #000);
    --bottomright-mask: radial-gradient(2rem at 0 0, #0000 100%, #000);
    --logo-mask: url("../res/img/logoMask.svg");
}

.inverted-topleft-corner,
.inverted-topright-corner,
.inverted-bottomleft-corner,
.inverted-bottomright-corner,
.bottomedge {
    z-index: 1;
    transition: 0.3s;
    margin: 0rem;
}

.inverted-topleft-corner,
.inverted-topright-corner,
.inverted-bottomleft-corner,
.inverted-bottomright-corner {
    width: 2rem;
    height: 2rem;
}

.inverted-topleft-corner,
.inverted-topright-corner {
    position: relative;
    top: 0;
}

.inverted-bottomleft-corner,
.inverted-bottomright-corner {
    position: -webkit-sticky;
    position: sticky;
    bottom: 1rem;
    margin-top: auto;
}

.inverted-topleft-corner {
    left: 1rem;
    -webkit-mask: var(--topleft-mask);
    mask: var(--topleft-mask);
    margin-bottom: -2rem;
}

.inverted-topright-corner {
    float: right;
    right: 1rem;
    -webkit-mask: var(--topright-mask);
    mask: var(--topright-mask);
    margin-bottom: -2rem;
}

.inverted-bottomleft-corner {
    left: 1rem;
    -webkit-mask: var(--bottomleft-mask);
    mask: var(--bottomleft-mask);
}

.inverted-bottomright-corner {
    margin-left: auto;
    right: 1rem;
    -webkit-mask: var(--bottomright-mask);
    mask: var(--bottomright-mask);
}

.bottomedge {
    height: 1rem;
    width: 100vw;
    left: 0rem;
    bottom: 0rem;
    margin-top: auto;
    position: -webkit-sticky;
    position: sticky;
}

.wrapper {
    display: block;
    width: fit-content;
}

.typing-demo {
    width: 16ch;
    animation: typing 0s linear 0s 0 normal forwards, typing 2s steps(16) 0.5s 1 normal forwards, blink 1s linear 2.5s 5 normal forwards;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'JetBrains Mono', monospace !important;
    border-right: 2px solid;
}

@keyframes typing {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes blink {
    from {
        border-right: 2px solid;
    }

    to {
        border-right: none;
    }
}

.bg-cover {
    background-size: cover;
}

.bg-stretch {
    background-size: 100% 100%;
}

.bg-contain {
    background-size: 0%;
}

.bg-contain.bg-show {
    background-size: 100%;
}

.bg-paint-1,
.bg-paint-2,
.bg-paint-3 {
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease;
}

.tablinks.active {
    background-size: 100% 100%;
    background-image: url('/assets/backgrounds/paint1.png');
    background-position: center;
    background-repeat: no-repeat;
}

.bg-paint-1 {
    background-image: url('/assets/backgrounds/paint1.png');
}

.bg-paint-2 {
    background-image: url('/assets/backgrounds/paint2.png');
}

.bg-paint-3 {
    background-image: url('/assets/backgrounds/paint3.png');
}

.img-box img {
    transition: transform .5s ease;
}

.img-box:hover img {
    transform: scale(1.1);
}

.bg-animated-text {
    color: rgba(225, 225, 225, .01);
    background: linear-gradient(to right,
            var(--bs-danger),
            var(--bs-warning),
            var(--bs-success),
            var(--bs-info),
            var(--bs-primary),
            var(--bs-danger),
            var(--bs-warning),
            var(--bs-success),
            var(--bs-info),
            var(--bs-primary),
            var(--bs-danger));
    background-size: 200% auto;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    animation: textShine 2s ease-in-out infinite;
}

@keyframes textShine {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

a .img-box img {
    transition: transform 0.5s ease-out;
}

a:hover .img-box img {
    transform: scale(1.1);
}

a .shadow-box {
    box-shadow: -5px -5px 10px var(--bs-success), 5px -5px 10px var(--bs-primary), 5px 5px 10px var(--bs-warning), -5px 5px 10px var(--bs-info);
    transition: box-shadow, transform 0.3s ease;
}

a:hover .shadow-box {
    box-shadow: -5px -5px 20px var(--bs-success), 5px -5px 20px var(--bs-primary), 5px 5px 20px var(--bs-warning), -5px 5px 20px var(--bs-info);
    animation: rotate-shadow 1s infinite 0.3s;
}

@keyframes rotate-shadow {

    0%,
    100% {
        box-shadow: -5px -5px 20px var(--bs-success), 5px -5px 20px var(--bs-primary), 5px 5px 20px var(--bs-warning), -5px 5px 20px var(--bs-info);
    }

    25% {
        box-shadow: -5px -5px 20px var(--bs-info), 5px -5px 20px var(--bs-success), 5px 5px 20px var(--bs-primary), -5px 5px 20px var(--bs-warning);
    }

    50% {
        box-shadow: -5px -5px 20px var(--bs-warning), 5px -5px 20px var(--bs-info), 5px 5px 20px var(--bs-success), -5px 5px 20px var(--bs-primary);
    }

    75% {
        box-shadow: -5px -5px 20px var(--bs-primary), 5px -5px 20px var(--bs-warning), 5px 5px 20px var(--bs-info), -5px 5px 20px var(--bs-success);
    }
}