.content {
    border-radius: 2rem;
    transition: 0.3s;
}

.box {
    border-radius: 2rem;
    margin: 1rem;
    padding: 2rem;
    background-color: var(--bs-info-bg-subtle);
    border: none;
    transition: 0.3s;
}

a.card-link {
    color: var(--text-body);
    font-family: 'JetBrains Mono', monospace !important;
}

.ff-mono {
    font-family: 'JetBrains Mono', monospace !important;
}

.btn-outline-info {
    color: var(--bs-info-text-emphasis);
}

.btn-outline-info:not(.active):not(.activetab):hover {
    background-color: var(--bs-info);
}

.btn-outline-info.active,
.btn-outline-info.activetab {
    background-color: var(--bs-info-text-emphasis);
    color: var(--bs-info-bg-subtle);
}

button.active:hover,
button.activetab:hover {
    cursor: default;
}

.hiddenUp {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
}

.hiddenDown {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
}

.hiddenLeft {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
}

.hiddenRight {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
}

.shown {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transform: translateY(0);
}

.content ol {
    margin: 0rem;
    padding: 0.01rem 0rem;
    list-style-type: none;
}

.change-theme {
    width: 2.5rem;
    height: 2.5rem;
}

.change-theme:hover .material-symbols-rounded {
    font-variation-settings: 'FILL' 1;
}

/* INVERTED ROUNDED CORNERS MASKS */
:root {
    --topleft-mask: radial-gradient(2rem at 100% 100%, #0000 100%, #000);
    --topright-mask: radial-gradient(2rem at 0 100%, #0000 100%, #000);
    --bottomleft-mask: radial-gradient(2rem at 100% 0, #0000 100%, #000);
    --bottomright-mask: radial-gradient(2rem at 0 0, #0000 100%, #000);
    --logo-mask: url("../res/img/logoMask.svg");
}

.inverted-topleft-corner,
.inverted-topright-corner,
.inverted-bottomleft-corner,
.inverted-bottomright-corner,
.bottomedge {
    z-index: 1;
    transition: 0.3s;
    margin: 0rem;
}

.inverted-topleft-corner,
.inverted-topright-corner,
.inverted-bottomleft-corner,
.inverted-bottomright-corner {
    width: 2rem;
    height: 2rem;
}

.inverted-topleft-corner,
.inverted-topright-corner {
    position: relative;
    top: 0;
}

.inverted-bottomleft-corner,
.inverted-bottomright-corner {
    position: -webkit-sticky;
    position: sticky;
    bottom: 1rem;
    margin-top: auto;
}

.inverted-topleft-corner {
    left: 1rem;
    -webkit-mask: var(--topleft-mask);
    mask: var(--topleft-mask);
    margin-bottom: -2rem;
}

.inverted-topright-corner {
    float: right;
    right: 1rem;
    -webkit-mask: var(--topright-mask);
    mask: var(--topright-mask);
    margin-bottom: -2rem;
}

.inverted-bottomleft-corner {
    left: 1rem;
    -webkit-mask: var(--bottomleft-mask);
    mask: var(--bottomleft-mask);
}

.inverted-bottomright-corner {
    margin-left: auto;
    right: 1rem;
    -webkit-mask: var(--bottomright-mask);
    mask: var(--bottomright-mask);
}

.bottomedge {
    height: 1rem;
    width: 100vw;
    left: 0rem;
    bottom: 0rem;
    margin-top: auto;
    position: -webkit-sticky;
    position: sticky;
}

.typing-demo {
    width: 16ch;
    animation: typing 2s steps(16);
    white-space: nowrap;
    overflow: hidden;
    font-family: 'JetBrains Mono', monospace !important;
}

@keyframes typing {
    0% {
        width: 0
    }
    100% {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}