button.active:hover,
button.activetab:hover {
    cursor: default;
}

.hiddenUp {
    transition: transform 0.5s ease;
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
}

.hiddenDown {
    transition: transform 0.5s ease;
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
}

.hiddenLeft {
    transition: transform 0.5s ease;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
}

.hiddenRight {
    transition: transform 0.5s ease;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
}

.hiddenY {
    transition: transform 0.5s ease;
    transform: scaleY(0);
}

.hiddenX {
    transition: transform 0.5s ease;
    transform: scaleX(0);
}

.shown {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transform: translateY(0);
}

.expand-on-bottom-hit,
.shrunk {
    transition: transform 0.5s ease;
    transform: scale(0);
}

.expanded {
    transform: scale(1);
}

@keyframes typing {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes blink {
    from {
        border-right: 2px solid;
    }

    to {
        border-right: none;
    }
}

.bg-cover {
    background-size: cover;
}

.bg-stretch {
    background-size: 100% 100%;
}

.bg-contain {
    background-size: 0%;
}

.bg-contain.bg-show {
    background-size: 100%;
}

.bg-paint-1,
.bg-paint-2,
.bg-paint-3 {
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease;
}

.tablinks.active {
    background-size: 100% 100%;
    background-image: url('/assets/backgrounds/paint1.png');
    background-position: center;
    background-repeat: no-repeat;
}

.bg-paint-1 {
    background-image: url('/assets/backgrounds/paint1.png');
}

.bg-paint-2 {
    background-image: url('/assets/backgrounds/paint2.png');
}

.bg-paint-3 {
    background-image: url('/assets/backgrounds/paint3.png');
}

.img-box img {
    transition: transform .5s ease;
}

.img-box:hover img {
    transform: scale(1.1);
}

.bg-animated-text {
    color: rgba(225, 225, 225, .01);
    background: linear-gradient(to right,
            var(--bs-danger),
            var(--bs-warning),
            var(--bs-success),
            var(--bs-info),
            var(--bs-primary),
            var(--bs-danger),
            var(--bs-warning),
            var(--bs-success),
            var(--bs-info),
            var(--bs-primary),
            var(--bs-danger));
    background-size: 200% auto;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    animation: textShine 2s ease-in-out infinite;
}

@keyframes textShine {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}