.navbar {
  .nav-menu-button-container .nav-menu {
    z-index: 10;
    border-radius: 50%;
    padding: 0.4rem;
    margin: 0.5rem;
    cursor: pointer;

    .hamicon {

      .bar1,
      .bar2,
      .bar3 {
        background-color: var(--bs-primary-text-emphasis);
        width: 1.5rem;
        height: 0.4rem;
        margin: 0.15rem;
        border-radius: 0.3rem;
        transition: transform 0.3s, opacity 0.3s;
      }

      &.responsive .bar1 {
        -webkit-transform: rotate(-45deg) translate(-0.4rem, 0.375rem);
        transform: rotate(-45deg) translate(-0.4rem, 0.375rem);
      }

      &.responsive .bar2 {
        opacity: 0;
      }

      &.responsive .bar3 {
        -webkit-transform: rotate(45deg) translate(-0.375rem, -0.375rem);
        transform: rotate(45deg) translate(-0.375rem, -0.375rem);
      }
    }
  }
}

#nav {
  height: 0;
  width: 100vw;
  transition: height 0.3s, background-color 0.3s;
  position: fixed;
  top: 0;
  display: block;
  overflow: hidden;
  z-index: 1010;

  .nav-link {
    margin-left: 0rem;
    padding: 0.5rem;
    width: max-content !important;
    opacity: 0;
  }

  &.responsive {
    height: 100vh;

    .nav-link {
      opacity: 1
    }
  }
}